.main-container {
  background-image: url("../assets/main-image.png");
  height:  auto ;
  min-height: 100vh;
}

.SingleCard {
  height: 188px;
  width: 279px;
  border-radius: "10px";
  background-color: #390554;
  color: #f5f5f5;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.textleft {
  color: #f5f5f5;
  font-family: Poppins;
  font-size: 12px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.headtext {
  color: #fff;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.searchbar {
  border-radius: 20px;
  border: 1px solid #fff;
  background: linear-gradient(
    132deg,
    rgba(124, 15, 53, 0.2) 0%,
    rgba(88, 18, 102, 0.2) 100%
  );
}
.connect-btn {
  border-radius: 20px;
  background: linear-gradient(131deg, #7c0f35 0%, #581266 100%);
  background-color: #7c0f35, #581266;
  width: 156px;
  height: 52px;
  flex-shrink: 0;
  color: #fff;
}
